# DeepSeek API 配置
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_TEMPERATURE=0.7
DEEPSEEK_MAX_TOKENS=2048
DEEPSEEK_BASE_URL=

# OpenAI API 配置,qodo-cover必须用openai兼容的接口，
#模型暂时用qwen-plus,前面必须加上openai/
OPENAI_API_KEY=
OPENAI_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_MODEL=openai/qwen-plus